<div class="container">
  <div class="row">
    <div class="spacer" style="line-height:10px;height:10px;"></div>
      <h1>Projects</h1>
       
{{#if project}}

       {{#each project}}
        <div class="container oneProject projectContainer">
          <a class="projectName" href="/project/{{this.id}}"><h3 class="projectName">{{this.project_name}}</h3>
          </a>
          <ul class="projectDetailsList" style="list-style-type: none;">                  
            <li>{{this.project_short_description}}</li>
            <li><h4>Needs Developer? {{this.needs_developer}}</h4></li>
            <li><h4>Needs Investor? {{this.needs_investor}}</h4></li>
            <li><h4>Industry: {{this.project_industry}}</h4></li>
          </ul>
          <a href="/project/{{id}}">
            <button class="btn grow viewProjectBtn">View Project</button>
          </a>

           <div class="spacer" style="line-height:10px;height:10px;"></div>
          </div>
                              {{/each}}
        </div>


{{else}}
    <div class="jumbotron" style="background-color:#fff; font-size: 20px; font-family:'nunito';">No Projects Yet!</div>


          {{/if}}
    </div>

<!-- end of wrapper -->
  </div>