<div class="container">
  <div class="row">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#projectsDash">Dashboard</a></li>
    <li><a data-toggle="tab" href="#proTab">Projects</a></li>
    <li><a data-toggle="tab" href="#devTab">Developers</a></li>
    <li><a data-toggle="tab" href="#invTab">Investors</a></li>
  </ul>

  </div>

  <div class="tab-content" class="row">

    <div class="tab-pane fade in active" id="proTab"  class="container-fluid topContainer" class="allcontainers">
      <h3>Projects</h3>
        <div class="container">
          <div class="container-fluid topContainer">
              {{#each project}}}
                <a href="/project/{{id}}"> <ul>
                  <{{project_name}}
                  <{{project_description}}
                  <{{needs_developer}}
                  <{{needs_investor}}
                  <{{offer_to_developer}}
                  <{{offer_to_investor}}
                  <{{project_scope}}
                  <{{project_industry}}
                </ul>
                </a>
              {{/each}}
          </div>
        </div>
    </div>
    <div class="tab-pane fade" class="row" id="devTab"  class="allcontainers">
      <h3 class="row">Developer</h3>
        <div class="container">
          <div>
              {{#each developer}}}
              <a href="/developer/{{id}}">   
                <ul>
                    <{{developer_name}}
                    <{{skills}}
                    <{{experience}}
                </ul>
              {{/each}}
              </a>
          </div>
        </div>
    </div>
    <div class="tab-pane fade" class="row" id="invTab"  class="allcontainers">
      <h3 class="row">Investor</h3>
        <div class="container">
          <div>
            <a href="/investor/{{id}}"> 
              {{#each developer}}}
                <ul>
                    {{investor_name}}
                    {{investor_minimum}}
                    {{investor_maximum}}
                </ul>
              {{/each}}
              </a>
          </div>
        </div>
    </div>
  </div>

</div>