
	<div class="container profileContainer">
		<div class="row">
			<div class="spacer" style="line-height:30px;height:30px;"></div>
				<div class="col col-12">
					<h2 class="profileName">{{developer.User.name}}</h2>
					<a href="#" class="grow portfolioLink">{{developer.portfolio}}</a>
					<div class="spacer" style="line-height:30px;height:30px;"></div>
			 	</div>
			 	<div class="col col-12">
					<img class="grow profilePic" src="/assets/images/zrillingz.jpg">
					<div class="spacer" style="line-height:30px;height:30px;"></div>
			 	</div>
		</div>
		<div class="row">
				<div class="col col-12 profileBio">
					<h2 class="profileBioLabel">Biography</h2>
						<p class="profileBioBody">
						{{developer.User.bio}}
					<div class="spacer" style="line-height:30px;height:30px;"></div>
			 	</div>
		</div>
		<div class="row">
				<div class="col col-12 profileSkills">
					<h2 class="profileSkillsLabel">Skills and Technologies</h2>
			 	</div>
				<p class="profileBioBody">{{developer.skills}}</p>
				<div class="spacer" style="line-height:30px;height:30px;"></div>
		</div>
		<div class="spacer" style="line-height:30px;height:30px;"></div>
		<div class="row inviteBtnRow">
				<div class="col col-12">
					<button class="btn btn-lg grow inviteBtn">Invite to a Project</button>
					<script>
						$('button').on('click', function(event) {
							window.location.replace('/invite/developer/{{developer.id}}');
						});
					</script>
			 	</div>
			 <div class="spacer" style="line-height:30px;height:30px;"></div>


		</div>

	</div>



