
<!-- still within wrapper div -->
	<div class="container profileContainer">
		<div class="row">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
			<div class="col col-12">
				<h2 class="profileName">{{investor.User.name}}</h2>
				<a class="linkedin" href="#">LinkedIn Profile</a>
				<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
			</div>
			<div class="col col-12">
				<img class="grow profilePic" src="/assets/images/zrillingz.jpg" alt="" />
				<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-12 profileBio">
				<h2 class="profileBioLabel">Biography</h2>
				<p class="profileBioBody">{{investor.User.bio}}</p>
				<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-12 profileSkills">
				<h2 class="profileSkillsLabel">Past Investments</h2>
			</div>
			<p class="profileBioBody">Hulu, Snapchat, Tesla</p>
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col col-12 investmentRange">
				<h2 class="investmentRangeLabel">Investment Range</h2>
				<p class="investmentRange">${{investor.investment_minimum}}.00 - ${{investor.investment_maximum}}.00</p>
				<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
			</div>
		</div>
		<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
		<div class="row inviteBtnRow">
			<div class="col col-12"><button class="btn btn-lg grow inviteBtn">Invite to a Project</button>
				<script>
					$('button').on('click', function(event) {
						window.location.replace('/invite/investor/{{investor.id}}');
					});
				</script>
			</div>
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
		</div>
	</div>


