<div class="container profileContainer">
		<div class="row projectNameDiv">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
			<div class="col col-12">
				<h2 class="projectName">{{project.project_name}}/h2>
				<!-- <h3 class="projectOwner">by Zackery Rilling</h3> -->
			</div>
		</div>
		<div class="row projectDetailsDiv">
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
				<h2 class="projectDetailsLabel">Project Description</h2>
				<p class="projectDetailsBody">{{project.full_description}}</p>
			</div>
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
				<h2 class="projectDetailsLabel">Project Scope</h2>
				<p class="projectDetailsBody">{{project.project_scope}}</p>
			</div>
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
				<h2 class="projectDetailsLabel">Project Industry</h2>
				<p class="projectDetailsBody">{{project.project_industry}}</p>
			</div>
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
				<h2 class="projectDetailsLabel">Project Needs</h2>
				{{#if project.needs_developer}}
				<p class="projectDetailsNeeds">Needs Developers!</p>
				{{/if}}
				{{#if project.needs_investor}}
				<p class="projectDetailsNeeds">Needs Investors!</p>
				{{/if}}
			</div>
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
				<h2 class="projectDetailsLabel">Project Offers</h2>
				<p class="projectDetailsNeeds">Offer to Developer: {{project.offer_to_developer}}% Equity</p>
				<p class="projectDetailsNeeds">Offer to Investors: {{project.offer_to_investor}}% Equity</p>
			</div>
		</div>
		<div class="row requestBtnRow">
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
			<button class="btn btn-lg grow requestBtn">Connect with Project</button>
		</div>
		</div>
	</div>
